<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>HelpDesk</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>

<style type="text/css">

</style>

</head>

<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">HelpDesk</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse in" id="navbarCollapse" aria-expanded="true">
            <ul class="nav navbar-nav">

                {% if session.signed %}
                <form class="navbar-form navbar-left">
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#add_ticket">Add ticket</button>
                </form>
                {% if session.user.role == "Admin" %}
                <li><a href="/my_tickets/{{ session.user.id }}">My tickets</a></li>
                <li><a href="/admin" target="_blank">Admin page</a></li>
                {% endif %}
                <li><a href="https://bootswatch.com/flatly/" target="_blank">Flatly</a></li>

                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.signed %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{ session.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                     <li><a href="#" >View profile</a></li>
                      <li><a href="{{ url_for('signout') }}" >Logout</a></li>
                     </ul>
                  </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="container">

    {% block body %} {% endblock %}
    {% block admin_tickets %} {% endblock %}
    {% block ticket %} {% endblock %}

</div>
