{% extends "base.html" %}

{% block body %}


<div class="modal fade" role="dialog" id="add_ticket">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Ticket</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" method="POST" action="{{ url_for('add_ticket') }}">
          <fieldset>
            <div class="form-group">
              <label for="problem" class="col-lg-2 control-label" required>Problem:</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="problem" name="problem" placeholder="What's wrong?">
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-lg-2 control-label" required>Description:</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="5" name="description" placeholder="Describe your problem"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Priority:</label>
              <div class="col-lg-10">
                {% for priority in priorities %}
                  <div class="radio">
                  <label>
                    <input type="radio" name="priority" value="{{ priority }}" checked="">{{ priority }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default btn-sm">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm">Add</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% for message in get_flashed_messages() %}

<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>

{% endfor %}

{% if session.signed %}

<h3 class="text-center">List of Tickets:</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#all" data-toggle="tab" aria-expanded="true">All</a></li>
  <li class=""><a href="#my" data-toggle="tab" aria-expanded="false">My</a></li>
</ul>

<div id="tickets" class="tab-content">

  <div class="tab-pane fade active in" id="all">

{% if all_tickets %}

    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Handler</th>
          <th>Status</th>
          <th>Expected Solving Date</th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in all_tickets.items %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger" 
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td><a href="/ticket/{{ ticket.id }}" style="text-decoration: none">{{ ticket.problem }}</a></td>
          <td><a href="#" style="text-decoration: none">{{ ticket.ticket_issuer }}</a></td>
          <td><a href="#" style="text-decoration: none">{{ ticket.ticket_handler }}</a></td>
          <td>{{ ticket.status }}</td>
          <td>{{ ticket.expected_solving_date }}</td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

    <ul class="pager">

    {% if all_tickets.has_prev %}
      <li><a href="{{ url_for('index', page=all_tickets.prev_num) }}">&lt;&lt; Newer</a></li>
    {% endif %}

    {% if all_tickets.has_next %}
      <li><a href="{{ url_for('index', page=all_tickets.next_num) }}">Older &gt;&gt;</a></li>
    {% endif %}

    </ul>

{% else %}

    <h2 class="text-center">There are no tickets yet</h2>

{% endif %}

  </div>

  <div class="tab-pane fade" id="my">

{% if my_tickets %}

  <div class="table">
  <table class="table table-hover">
    <thead>
      <tr class="active">
        <th></th>
        <th>Date</th>
        <th>Problem</th>
        <th>Issuer</th>
        <th>Handler</th>
        <th>Status</th>
        <th>Expected Solving Date</th>
      </tr>
    </thead>
    <tbody>

    {% for ticket in my_tickets %}

    <tr>
      <td {% if ticket.priority == 'High' %} class="danger"
       {% elif ticket.priority == 'Medium' %} class="warning"
       {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
      <td>{{ ticket.date }}</td>
      <td><a href="/ticket/{{ ticket.id }}" style="text-decoration: none">{{ ticket.problem }}</a></td>
      <td><a href="#" style="text-decoration: none">{{ ticket.ticket_issuer }}</a></td>
      <td><a href="#" style="text-decoration: none">{{ ticket.ticket_handler }}</a></td>
      <td>{{ ticket.status }}</td>
      <td>{{ ticket.expected_solving_date }}</td>
    </tr>
  </tbody>

    {% endfor %}

    </table>
    </div>

{% else %}

    <h3 class="text-center">You did not request any tickets yet</h3>

{% endif %}

  </div>

</div>

{% else %}

<div class="text-center">
  <h3 class="text-center">Hello, User</h3>
  <h3>Please Login or Signup</h3>
  <br>
<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">Login</button> -->
  <a href="{{ url_for('signin') }}" class="btn btn-primary">Sign In</a>
  <a href="{{ url_for('signup') }}" class="btn btn-primary">Signup</a>
</div>

{% endif %}


{% endblock %}
