{% extends "base.html" %}

{% block admin_tickets %}

<h3 class="text-center">List of my Tickets:</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="#ongoing" data-toggle="tab" aria-expanded="true">Ongoing&nbsp;&nbsp;&nbsp;<span class="badge">{{ ongoing | count }}</span></a></li>
  <li class=""><a href="#queued" data-toggle="tab" aria-expanded="false">Queued&nbsp;&nbsp;&nbsp;<span class="badge">{{ queued | count }}</span></a></li>
  <li class=""><a href="#postponed" data-toggle="tab" aria-expanded="false">Postponed&nbsp;&nbsp;&nbsp;<span class="badge">{{ postponed | count }}</span></a></li>
  <li class=""><a href="#blocked" data-toggle="tab" aria-expanded="false">Blocked&nbsp;&nbsp;&nbsp;<span class="badge">{{ blocked | count }}</span></a></li>
  <li class=""><a href="#solved" data-toggle="tab" aria-expanded="false">Solved&nbsp;&nbsp;&nbsp;<span class="badge">{{ solved | count }}</span></a></li>
  <li class=""><a href="#all" data-toggle="tab" aria-expanded="false">All&nbsp;&nbsp;&nbsp;<span class="badge">{{ all_tickets | count }}</span></a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="ongoing">
  {% if ongoing %}
    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in ongoing %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>

          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Change status <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[0]) }}">Solved</a></li>
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[1]) }}">Postponed</a></li>
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[2]) }}">Blocked</a></li>
               </ul>
            </div>
         </td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

    {% else %}

    <h3 class="text-center">You don't handle any tickets</h3>

    {% endif %}

  </div>


  <div class="tab-pane fade" id="queued">

  {% if queued %}

    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in queued %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>

            <td>
            <form action="{{ url_for('take_ticket', id=ticket.id) }}" method="POST">
            <button type="submit" class="btn btn-primary btn-xs">Take</button>
            </form>
            </td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

  {% else %}

  <h3 class="text-center">There are no queued tickets</h3>

  {% endif %}

  </div>


  <div class="tab-pane fade" id="postponed">
  {% if postponed %}
    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in postponed %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>

          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Change status <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[0]) }}">Solved</a></li>
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[2]) }}">Blocked</a></li>
               </ul>
            </div>
         </td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

    {% else %}

    <h3 class="text-center">You don't have any postponed tickets</h3>

    {% endif %}

  </div>


  <div class="tab-pane fade" id="blocked">
  {% if blocked %}
    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in blocked %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>

          <td>
            <div class="btn-group">
              <a href="#" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Change status <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[0]) }}">Solved</a></li>
                <li><a href="{{ url_for('change_status', id=ticket.id, status=status[1]) }}">Postponed</a></li>
               </ul>
            </div>
         </td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

    {% else %}

    <h3 class="text-center">You don't have blocked tickets</h3>

    {% endif %}

  </div>


  <div class="tab-pane fade" id="solved">

  {% if solved %}

    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
          <th>Solving Date</th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in solved %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>
          <td>{{ ticket.solving_date }}</td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

  {% else %}

  <h3 class="text-center">You did not solve any ticket</h3>

  {% endif %}

  </div>

  <div class="tab-pane fade" id="all">

  {% if all_tickets %}

    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th></th>
          <th>Date</th>
          <th>Problem</th>
          <th>Issuer</th>
          <th>Expected Solving date</th>
        </tr>
      </thead>
      <tbody>

       {% for ticket in all_tickets %}

        <tr>
          <td {% if ticket.priority == 'High' %} class="danger"
           {% elif ticket.priority == 'Medium' %} class="warning"
           {% else %} class="info" {% endif %} title="{{ ticket.priority }} priority"></td>
          <td>{{ ticket.date }}</td>
          <td>{{ ticket.problem }}</td>
          <td>{{ ticket.ticket_issuer }}</td>
          <td>{{ ticket.expected_solving_date }}</td>
        </tr>
      </tbody>

        {% endfor %}

    </table>
    </div>

  {% else %}

  <h3 class="text-center">You did not solve any ticket</h3>

  {% endif %}

  </div>
</div>


{% endblock %}
