{% extends "base.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <form class="form-horizontal" action="{{url_for('signin')}}" method="POST">
    {{ signin_form.hidden_tag() }}
      <legend class="text-center">Sign In</legend>
      <h4 class="form-heading"></h4>

        <div class="form-group {% if signin_form.username.errors %} has-error {% endif %}">
          {{ signin_form.username.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
            {{ signin_form.username(placeholder="Username", class="form-control")}}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ signin_form.username.errors[0] }}
        </div>

        <div class="form-group {% if signin_form.password.errors %} has-error {% endif %}">
          {{ signin_form.password.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
          {{ signin_form.password(placeholder="Password", class="form-control") }}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ signin_form.password.errors[0] }}
        </div>


        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-3">
          {{ signin_form.remember_me}}
          {{ signin_form.remember_me.label }}
          </div>
        </div>


        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-3">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button class="btn btn-success" type="submit">Sign In</button>
          </div>
        </div>

    </form>
  </div>
</div>


{% endblock %}
