{% extends "base.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <form class="form-horizontal" action="{{url_for('signup')}}" method="POST">
    {{ form.hidden_tag() }}
      <legend class="text-center">Signup to HelpDesk</legend>
      <h4 class="form-heading"></h4>

        <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
          {{form.first_name.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
            {{form.first_name(placeholder="First name", class="form-control")}}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ form.first_name.errors[0] }}
        </div>

        <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
          {{form.last_name.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
            {{form.last_name(placeholder="Last name", class="form-control")}}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ form.last_name.errors[0] }}
        </div>

        <div class="form-group {% if form.username.errors %} has-error {% endif %}">
          {{form.username.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
            {{form.username(placeholder="Username", class="form-control")}}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ form.username.errors[0] }}
        </div>

        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
          {{form.email.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
            {{ form.email(placeholder="Email", class="form-control") }} 
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ form.email.errors[0] }}
        </div>


        <div class="form-group {% if form.password.errors %} has-error {% endif %}">
          {{form.password.label(class="col-xs-3 control-label")}}
          <div class="col-xs-8">
          {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
          </div>
          <p class="col-xs-5 col-xs-offset-3 help-block">
          {{ form.password.errors[0] }}
        </div>

        <div class="form-group">
          <div class="col-xs-8 col-xs-offset-3">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button class="btn btn-success" type="submit">Sign Up</button>
          </div>
        </div>

    </form>
  </div>
</div>


{% endblock %}
