{% extends "base.html" %}

{% block ticket %}

<br>
<br>
<h3 class="text-center">TEST</h3>


{{ user }}

{% for message in get_flashed_messages() %}

<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>

{% endfor %}


<div class="modal fade" id="test">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">View ticket</h4>
      </div>
      <div class="modal-body">
        <h3>{{ ticket.name }}</h3>
        <h3>{{ ticket.description }}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<a href="" data-toggle="modal" data-target="#test">Test</a>





{% endblock %}

<!--                 {% else %}
                <form action="{{ url_for('signin')}}" class="navbar-form navbar-right" method="POST">
                  {{ signin_form.hidden_tag() }}
                  <div class="form-group">
                  {{ signin_form.username(class="form-control input-sm", placeholder="Username") }}
                  </div>
                  <div class="form-group">
                  {{ signin_form.password(class="form-control input-sm", placeholder="Password") }}
                  </div>
                  <div class="checkbox">
                  {{ signin_form.remember_me }} 
                  {{ signin_form.remember_me.label(style="color:rgb(240,240,240);") }}
                  </div>
                  <div class="form-group">
                  <button class="btn btn-info btn-sm" type="submit">Sign In</button>
                  </div>
                </form>

                <li><a href="{{ url_for('signup')}}">Signup</a></li> -->