{% extends "base.html" %}

{% block ticket %}

<br>
<br>

<!-- <div class="row">
  <div class="col-lg-8">
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel primary</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <h3><b>Ticket details:</b></h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Issuer:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.ticket_issuer }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Date:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.date }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Problem:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.problem }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Description:</b></p>
  </div>
  <div class="col-lg-6">
    <p>{{ ticket.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Priority:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.priority }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Status:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.status }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <p class="text-info"><b>Handler:</b></p>
  </div>
  <div class="col-lg-5">
    <p>{{ ticket.ticket_handler }}</p>
  </div>
</div>

{% endblock %}
